# 依赖
node_modules
.pnpm-store

# 构建输出
dist
build
.next
out

# 环境变量 不要提交
.env
.env.local
*.env
.DS_Store
.cursor
# Turborepo 缓存
.turbo

# IDE 配置
.vscode
.idea

# 日志
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*